body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.menuContainer1 {
    position: fixed;
    width: 100%;
    height: 50px;
    padding-top: 20px;
    padding-right: 0%;
    display: flex;
    background-color: #79838f;
}
.menuContainer {
    width: 100%;
    height: 50px;
    padding-top: 20px;
    display: flex;
}
.menu {
    height: 100%;
    padding-left: 1%;
}
a {
    width: fit-content;
    text-align: center;
    cursor: pointer;

    text-decoration: none;
    font-weight: bold;
    color: white;
}
.homeAtag:hover {
    border-bottom: 3px black solid;
    padding-bottom: 0;
}

.homeAtag {
    color: #191919;
}
.about {
    height: 800px;
    background-color: #101010;
}
.service {
    height: 800px;
    background-color: #0a2647;
}
.portfolio {
    height: 800px;
    background-color: #0a2647;
}
.blog {
    height: 800px;
    background-color: #0a2647;
}
.contact {
    background-color: #16213e;
    text-align: none;
}
.warning {
    color: red;
}

.aboutContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 70px;
}
.aboutText {
    width: 90%;
}
.serviceContainer {
    padding-top: 70px;
}
.portfolioContainer {
    padding-top: 70px;
}
.blogContainer {
    padding-top: 70px;
}

.contentAbout {
    margin-left: 5%;
    width: 100%;
}
/* .mainSkills {
    position: absolute;
    display: none;
    height: 120px;
    background-color: aqua;
}
.mainSkills:hover {
    display: block;
}
.experience {
    position: absolute;
    height: 150px;
    background-color: aqua;
    display: none;
}
.certification {
    position: absolute;
    height: 150px;
    background-color: aqua;
    display: none;
}
.education {
    position: absolute;
    height: 150px;
    background-color: aqua;
    display: none;
} */
.hidden-div {
    display: none;
    cursor: pointer;
}
.click-text {
    cursor: pointer;
}
.image {
    width: 20%;
}

.transition {
    transition: all 0.5s ease;
    color: #f9004d;
}

.homeAtag {
    text-decoration: none;
    margin: 2px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menuContainer1 {
    margin: 0;
    padding: 0;
}
.home {
    padding-top: -200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #101010;
    background-size: cover;
}
.bodyContainer {
    width: 50%;
}
.myphoto {
    border-radius: 20%;
    width: 20%;
}
h3 {
    margin-bottom: 100px;
}
.aboutMe {
    width: 80%;
    font-size: x-large;
    text-align: start;
    color: #7f99a4;
    word-spacing: 1px;
    margin-left: 10%;
}
@media (max-width: 600px) {
    .aboutMe {
        font-size: medium;
    }
    .home {
        flex-direction: column;
        justify-content: space-around;
    }
    .myphoto {
        width: 50%;
        margin-top: 25%;
    }
    .bodyContainer {
        width: 100%;
    }
    h1 {
        font-size: small;
    }
    #myElement {
        padding: 0;
        height: 40px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contactContainer {
        padding-top: 180px;
    }
    .contactContainer1 {
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }
    .contactContainer2 {
        margin: 0;
        padding: 0;
        width: 100%;
        height: fit-content;
        margin-bottom: 20px;
    }
    .phone {
        width: 50%;
    }
}
html::-webkit-scrollbar {
    display: none;
}
html {
    scrollbar-width: none;
}
